@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
.PageBlock{
position:relative;
   background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto',  cursive;
    font-size: 20px;
    font-style:bold;
width:100%;
padding-bottom:60px;
margin-top:-50px;
;
    color:white;
}
h1{
    margin-bottom:0;
}
.PageBlock_inner{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:10px 0;
}
.createForm{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        margin:10px
}
.PageBlockFlex{
    display:flex;
    justify-content: space-around;
    align-items: baseline;
}
.PageBlock_inner div,button,input {
    margin:25px 0;
}
#selected_doctor{
    display:flex;
}
.PageBlock h1{
text-align:center;
margin-bottom:20px;
}
input{
    display: block !important;
}
.none{
    display:none !important;
}
body {
  background-color: #ecf1ef;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}
input,button {
  cursor: pointer;
  outline: none;
}
#btn .outline {
  margin:0 10px;
  position: relative;
  z-index: 3;
  background: transparent;
  color: #1172c4;
  font-size: 14px;
  border-color: #1172c4;
  border-style: solid;
  border-width: 2px;
  border-radius: 22px;
  padding: 10px 40px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
#btn .outline a {
  text-decoration: none;
}
#btn .outline:hover {
  color: white;
  background: #1172c4;
  border-color: white;
  transition: all 0.2s linear;
}
#btn .outline:active {
  border-radius: 22px;
}
#btn .white-blue {
  font-weight: 700;
  color: #00aeef;
  border-color: white;
  background: white;
}
#btn .white-blue:hover {
  color: white;
  background: #00aeef;
  border-color: white;
}

#btn .white-green {
  font-weight: 700;
  color: #7dc21e;
  border-color: #7dc21e;
  background: white;
}
#btn .white-green:hover {
  color: white;
  background: #7dc21e;
  border-color: white;
}
#btn .white-red {
  font-weight: 700;
  color: red;
  border-color: red;
  background: white;
}
#btn .white-red:hover {
  color: white;
  background: red;
  border-color: white;
}
#btn .green-white {
  font-weight: 700;
  color: #7dc21e;
  border-color: #7dc21e;
  background: transparent;
}
#btn .green-white:hover {
  color: white;
  background: #7dc21e;
  border-color: #7dc21e;
}
#btn .purple-white {
  font-weight: 700;
  color: black;
  border-color: #664e96;
  background: white;
}
#btn .purple-white:hover {
  color: white;
  background: #664e96;
  border-color: #664e96;
}
#btn .purple-white {
  font-weight: 700;
  color: black;
  border-color: #664e96;
  background: white;
}
#btn .purple-white:hover {
  color: white;
  background: #664e96;
  border-color: #664e96;
}
/*table*/
a {
  font-weight: 700;
  text-transform: uppercase;
  color:#fdff7a;
  text-decoration: none;
}
.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container th {
       text-align: center;
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
}
td {
 text-align: center;
    padding: 10px;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
/*	  background-color: #8a4ad4;*/
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
/*	  background-color: #5f4ad4;*/
}

.container th {
	  background-color: #1F2739;
	      width: 20%;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}
 .container td:hover a{
    color:black;
}
.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0.2s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}
.controller{

     margin-top:20px;
     justify-content: center;
     display: flex;

}


/*popup*/
.customPopup{
    background-color: lightgrey;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    left: 55%;
    position: fixed;
    padding: 5px;
    box-shadow: 0px 3px 7px rgba(1, 1, 1, 5);
    background: #fff;
    width: 600px;
    margin-left: -200px;
    top: 10px;
    max-width: 700px;
}
.customPopup .close{
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 200ms;
    font-size: 20px;
    text-decoration: none;
    color: #333;
}
.customPopup .close:hover{
    color: red;
}
.PageBlock{
    position:relative;
}

#modal {
       margin:0;
       background-color: rgba(0, 0, 0,0.4);
       position: absolute;
       left: 0;
       right :0 ;
       top: 0;
       right: 0px;
       bottom: 0;
       z-index: 5;

}
.modal_container {

     position: absolute;
     left: 50%;
     top:50%;
     transform: translate(-50%, -50%);
    padding: 40px;
    min-width: 400px;
    min-height: 600px;
    background-color: white;
    color: #000;
}


input,button.white-red {
  font-weight: 700;
  color: red;
  border-color: white;
  background: white;
}
input,button .white-red:hover {
  color: white;
  background: #664e96;
  border-color: red;
}
.exitPopup{
   position:absolute;
   width:50px;
   height:50px;
   right:0;

}
#message{
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:10;
    height:30px;
  transition: all 2s linear;

}
#message  .message{
  padding-top: 30px !important;
      max-height: 70px;
      margin: 0 !important;
}
#btn .close-btn {
  padding:0;
  margin:0;
  text-align: center;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top:0;
  right:0;
  cursor: pointer;
  background-color:#dadada;
}
#btn .close-btn:hover{
    background:red;
}
.action{
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.decision{
    min-width: 650px;
    min-height: 200px;
    text-align: center;
}
.decision_inner{
    display :flex;
      align-items: center;
      justify-content:center;
}
#btn .action_btn{

        background-color: transparent;
        color: black;
        padding: 0;
        line-height: 1rem;
        font-size: 20px;
        text-transform: uppercase;
        outline: none;
        border: 0px;
        text-decoration: none;
}
#btn .action_btn:hover{
    color: rgb(183 0 216);
}